#top-bar {
    text-align: center;
    display: flex;
    justify-content: center;
    font-family: Verdana, Geneva, sans-serif;
}

#title {
    font-size: 50px;
    margin: 0px;
}

#model-text {
    font-size: 50px;
}

#partition {
    display: flex;
    flex-direction: column;
}

#gameboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: blue;
    border-radius: 4%;
    padding-top: 20px;
    padding-bottom: 20px;
}

#scoreboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    font-size: 30px;
}

#wincount-yellow {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: yellow;
    border-radius: 50%;
    font-size: inherit;
}

#wincount-red {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    border-radius: 50%;
    font-size: inherit;
}

#settings-tab {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#winner-display {
    display: none;
    text-align: center;
}

.board-square {
    background-color: white;
    border: 5px solid rgb(0, 0, 200);
    border-radius: 50%;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}

.board-row {
    width: 100%;
    justify-content: space-evenly;
}

#start-modal-body {
    display: flex;
    flex-direction: column;
    height: 200px;
    justify-content: space-around;
    align-items: center;
}

#game-modal-body {
    display: flex;
    flex-direction: row;
    height: 200px;
}

#start-text {
    font-size: 20px;
}

#password-error {
    color: red;
    display: none;
}

.game-modal-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; 
}

.game-modal-col {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

@keyframes highlightWinner {
    from {border: 5px solid rgb(0, 0, 200);}
    to {border: 10px solid whitesmoke;}
  }

@media only screen and (max-width: 576px) {
    /* For phones: */
    #gameboard {
        order: -1;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 0px;
        padding-right: 0px;
    }

    #scoreboard {
        flex-direction: row;
    }
}
