#top-bar {
    text-align: center;
    display: flex;
    justify-content: center;
    font-family: Verdana, Geneva, sans-serif;
}

#title {
    font-size: 50px;
    margin: 0px;
}

#model-text {
    font-size: 50px;
}

#partition {
    display: flex;
    flex-direction: column;
}

#scoreboard {
    display: flex;
    justify-content: center;
}

#gameboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: blue;
    border-radius: 4%;
    padding-top: 20px;
    padding-bottom: 20px;
}

#scoreboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center
}

#settings-tab {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#winner-display {
    display: none;
    text-align: center;
}

.board-square {
    background-color: white;
    border: 5px solid rgb(0, 0, 200);
    border-radius: 50%;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}

.board-row {
    width: 100%;
    justify-content: space-evenly;
}

@keyframes highlightWinner {
    from {border: 5px solid rgb(0, 0, 200);}
    to {border: 10px solid whitesmoke;}
  }

@media only screen and (max-width: 576px) {
    /* For phones: */
    #gameboard {
        order: -1;
    }
}